body {
	color: rgb(20,20,20);
  font-family: 'Fjord One', sans-serif;
  background: rgb(235,235,235);
}

html, body {
	height: 100%;
}

p {
  font-family: 'Abel', sans-serif;
  font-size: 150%;
  color: rgb(100,100,100);
}

h1, h2, h3, h4 {
  font-family: 'Fjord One', sans-serif;
}

.jumbotron h1 {
  line-height: 1.25em
}

h2 {
  color: rgb(235,235,235);
  font-family: 'Abel', sans-serif;
}

a {
  color: rgb(220,220,220);
  transition: all .25s; 
  -moz-transition: all .25s; 
  -webkit-transition: all .25s;
}

.whenlink {
  color: rgb(4,148,179)
}

.whenlink:hover {
  color: rgb(3,97,117);
}

.wherelink {
  color: rgb(196,69,95)
}

.wherelink:hover {
  color: rgb(125,44,60)
}

a:hover {
  color: rgb(170,170,170);
  text-decoration: none
}

#register {
  color: rgb(250,250,250);
  border-color: rgb(250,250,250);
  background: none;
  opacity: 0.8;
  size: 40px;
  border-width: 2px;
  margin-top: 20px;
}

#register:hover {
  background: rgba(150,150,150,0.5);
}

.btn-xlg {
    padding: 10px 20px;
    font-size: 30px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }

.jumbotron, .jumbotron-simple {
  margin-bottom: 0px;
  background-position: 0% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-left: 0px;
  padding-right: 0px;
}

.jumbotron {
  background-image: url(../png/omr_background_blur_2.png);
}

.jumbotron-simple {

}

#subhead {
  line-height: 1.5;
}

#logo {
	width: 550px;
	margin-top: 10px;
}

#wrap {
	min-height: 100%;
	height: auto;
	height: 100%;
	margin: 0 auto -150px;
}

#overlay {
  background-image: linear-gradient(to right,#FFFFFF,#000000);
  opacity: 0.5;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 0px;
  padding-right: 0px;
}


#infotext {
  margin-top: -25px;
}

.center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#contact {
  margin-top: 35px;
  margin-bottom: 35px;
}

.sociallink {
  font-size: 150%;
  margin-right: 50px;
}

#get-in-touch {
  font-size: 350%;
  color: rgb(220,220,220);
}

#footer-content {
	opacity: 1;
}

#main {
  position: relative;
  background: rgb(235,235,235);
}

#whatheader, #whenheader, #whereheader {
  margin-bottom: 30px;
}

#whatheader {
  border: 0;
  background: linear-gradient(to right, rgb(67,207,101), rgb(49, 153, 75));
  height: 3px;
}

#whenheader {
  border: 0;
  background: linear-gradient(to right, rgb(4,148,179), rgb(3,97,117));
  height: 3px;
}

#whereheader {
  border: 0;
  height: 3px;
  background: linear-gradient(to right, rgb(196,69,95), rgb(125,44,60));
}

#infosection {
  margin-top: 50px;
  margin-bottom: 30px;
}

.infolabel {
  position: absolute;
  top: -20px;
  right: 100%;
  transform: rotate(270deg);
  transform-origin: right top;
  font-size: 350%;
  vertical-align: top;
}

#questions {
  background-color: rgb(65,64,65);
  border-top: 1px solid rgb(30,30,30);
}

#map {
  width:100%;
  height:300px;
}

.slideshow{
  position: relative;
  display: block;
  background: black;
}

.slideshow img{
  width: 100%;
  display: none;
  border-top: 2px solid rgb(10,10,10);
  border-bottom: 2px solid rgb(10,10,10);
}

.nvgt{
  position:absolute;
  bottom: 5%;
  height: 60px;
  width: 60px;
  opacity: 0.2;
  border-radius: 40px;
  border: whitesmoke;
  border-style: solid;
  border-width: 2px;
  transition: all .5s; 
  -moz-transition: all .5s; 
  -webkit-transition: all .5s;
}
.nvgt:hover{
  opacity: 0.6;
}
#prev{
  background: #000 url('../png/prev.png') no-repeat center;
  left: 40%;
}
#next{
  background: #000 url('../png/next.png') no-repeat center;
  right: 40%;
}


footer {
  color: rgb(20,20,20);
  background-color: rgb(109,110,103);
  border-top: 1px solid rgb(140,140,140);
  padding: 25px;
}

@media (max-width: 480px) {
  #logo {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-xlg {
    padding: 8px;
    font-size: 23px;
  }
}

@media (max-width: 1280px) {
  .infolabel {
    transform: none;
    top: -80px;
    left: 10px;
  }
  #infosection {
    margin-top: 75px;
  }
}