html { 
  background: url(../png/omr_background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	background-color: transparent;
	color: rgb(220,220,220);
  font-family: 'Fjord One', sans-serif;
}

html, body {
	height: 100%;
}

a {
  color: rgb(220,220,220);
  transition: all .25s; 
  -moz-transition: all .25s; 
  -webkit-transition: all .25s;
}

a:hover {
  color: rgb(170,170,170);
  text-decoration: none
}

#logo {
	width: 600px;
	margin-top: 50px;
}

#wrap {
	min-height: 100%;
	height: auto;
	height: 100%;
	margin: 0 auto -150px;
}

#info {
  font-size: 45px;
  line-height: 1em;
}

#push,
#footer {
  height: 150px;
}
#footer {
  background-color: rgba(0,0,0,0.5);
}

.center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#contact {
  font-size: 24px;
  vertical-align: middle;
  margin-top: 20px;
}

#get-in-touch {
  font-size: 42px;
  line-height: 1.5em
}

#footer-content {
	opacity: 1;
}


@media (max-width: 480px) {
  #info {
    font-size: 30px;
  }
  #logo {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #get-in-touch {
    font-size: 20px;
  }
  #contact {
    font-size: 14px;
  }
}